.wrapper {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  //flex-direction: column;
  color: #fff;
  position: relative;
  z-index: 2;

  justify-content: space-around;

}

#myVideo {                      /*full background video loop from Videezy*/
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0.95;
}

h1 {
  position: relative;
  z-index: 2;
  text-align: center;
  color: #fff;
}

.list {
  position: relative;
  z-index: 2;
}

.box{

  //opacity: 0.90;
  width: 60%;
  text-align: center;
  position: absolute;

}

.hidden{
  display: none;
}

.show{
  display:block;
}

 .box img {
   border: 2px solid #fff;
   box-shadow: 5px 5px 5px #fff;
   width: 100%;
   object-fit: contain;
   overflow: hidden;
 }

 .box figcaption {
   font-size: 2rem;
 }
